SUPABASE_PUBLISHABLE_KEY="sb_publishable_F6CJQMGGVobuoK-oSEkTbg_ZeSCaiuE"
SUPABASE_URL="https://jhvqolvspkuebttpvdsk.supabase.co"
VITE_SUPABASE_PROJECT_ID="xsszrpqmispdyugvilxg"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_F6CJQMGGVobuoK-oSEkTbg_ZeSCaiuE"
VITE_SUPABASE_URL="https://jhvqolvspkuebttpvdsk.supabase.co"
ENABLEX_APP_ID="6a061154b2947974d80f03c6"
ENABLEX_APP_KEY="u5uMaPaTaRaPaDupaAayyLaLaHura7aSy5yG"
